<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <a class="navbar-brand" href="#">Chat Room</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <span class="navbar-text ml-auto">
          <div class="navbar-nav">
            <div class="nav-item badge badge-secondary text-warning">
              {{user_data.displayName}}
            </div>
            <div class="nav-item ">
              <img class="user_image" src={{user_data.photo}} alt="">
            </div>
          </div>
        </span>
      </div>
    </div>
  </nav>
  <div class="dashboard">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-xl-2 position-static" id="chats_body">

        <form action="chat" class="form-group mt-2 " method="POST">
          <input type="text" placeholder="Send Message..." class="form-control" id="user_message">
          <button id="chat" type="submit" class="mt-2 2btn btn-outline-danger btn-block py-2">Reply to all</button>
        </form>
        <button class="mt-2 btn btn-warning btn-block" id="share">
          Share Location
        </button>
        <div class="fixed-bottom">
          <button class="btn btn-danger btn-block ">
            <a href="/" class="navbar-brand py-0">Leave Room</a>
          </button>
        </div>
      </div>
      <div class="col-sm-10 col-md-10 col-xl-10">
        <div id="mls">

          <div class="jumbotron bg-light text-danger py-0 mt-2">
            <div class="text-danger">Chat</div>
            <div id="make"></div>
          </div>
          <div id="user_msg"></div>
        </div>
      </div>
      {{!--  --}}

    </div>

  </div>
  {{!-- client side socker --}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>

</body>

</html>